@use "sass:color";

.card {
  background-color: white;
  border-radius: 20px;
  overflow: hidden;
  box-shadow: 0 10px 30px rgba(0, 0, 0, 0.05);
  transition: all 0.3s ease-in-out;
  padding: 14px;
  width: 281px;
  height: 395px;
  display: flex;
  flex-direction: column;

  &:hover {
    transform: translateY(-10px);
    box-shadow: 0 20px 40px rgba(0, 0, 0, 0.1);

    .card__image img {
      transform: scale(1.05);
    }
  }
  @media (max-width: 1024px) {
    width: 210px;
    height: 294px;
    padding: 10px;
  }
  @media (max-width: 400px) {
    width: 210px;
    height: 294px;
  }

  &__image {
    width: 100%;
    height: 100%;
    overflow: hidden;
    position: relative;
    border-radius: 23px;

    @media (max-width: 1024px) {
      height: 190px;
      width: 190px;
    }

    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
      transition: transform 0.5s ease;
    }
  }

  &__content {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
  }

  &__title {
    padding-top: 12px;
    margin-bottom: 10px;
    font-size: 22px;
    font-weight: 600;
  }

  &__details {
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
  }

  &__label {
    display: block;
    font-size: 12px;
    color: #777e90;
    margin-bottom: 5px;
  }

  &__bid {
    width: 100%;
    &-amount {
      display: flex;
      align-items: center;
      gap: 5px;
      font-weight: 600;
      font-size: 18px;
    }
  }

  &__timer {
    position: absolute;
    top: 10px;
    right: 10px;

    &-display {
      font-family: "Poppins", sans-serif;
      font-weight: 500;
      font-size: 14px;
      line-height: 100%;
      color: #fff;
      display: flex;
      justify-content: space-between;
      align-items: center;
      backdrop-filter: blur(5px);
      box-shadow: 0 5px 14px 0 rgba(28, 29, 32, 0.08);
      background: rgba(28, 29, 32, 0.35);
      border: 1.18px solid rgba(28, 29, 32, 0.08);
      border-radius: 10px;
      padding: 10px 14px;
    }
  }

  &__btn {
    &.btn-primary {
      max-width: 90px;
      width: 100%;
      margin-top: auto;
      padding: 11px 0px;
      font-family: "Poppins", sans-serif;
      font-weight: 600;
      font-size: 12px;
      min-width:auto;
    }
  }
}

@media (min-width: 1860px) {
  .card {
    &__image {
      height: 375px;
    }

    &__title {
      font-size: 28px;
    }

    &__bid {
      font-size: 16px;

      span {
        font-size: 23px;
      }
    }
  }
}

@media (min-width: 3840px) {
  .card {
    &__image {
      height: 450px;
    }

    &__title {
      font-size: 33px;
    }

    &__bid {
      font-size: 19px;

      span {
        font-size: 27px;
      }
    }
  }
}
